@import 'components/breadcrumb';
@import 'components/filter';
@import 'components/posts';
@import 'components/box-title';
@import 'components/cards';
@import 'components/inputs';
@import 'components/unit';
@import 'components/navbar';
@import 'components/editais';
@import 'components/accordion';
@import 'components/titles';
@import 'components/forms';
@import 'components/tables.scss';
@import 'components/tags';
