@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

//variáveis das cores
$ui-color-primary-light:      #1970CF;
$ui-color-primary:            #040C34;
$ui-color-extra-primary:      #3A95E9;
$danger:                      #C11616;
$primary-dark-1:              #1D1E24;
$primary-dark-2:              #070708;
$primary-dark-3:              #195080;
$green:                       #27AE60;
$green-2:                     #78C323;
$black-2:                     #35363D;
$black-3:                     #333333;
$aco:                         #273644;
$prata:                       #3C4B58;
$prata-2:                     #77828C;
$gray:                        #8492A6;
$gray-1:                      #828282;
$gray-2:                      #8D9AA6;
$fumaca-light:                #D3DDE6;
$fumaca:                      #C3CFD9;
$fumaca-extra-dark:           #C0CCDA;
$neve-extra-dark:             #E5E9F2;
$neve:                        #F9FAFC;
$neve-dark:                   #EFF2F7;
$light-1:                     #FAFAFA;
$light-2:                     #f2f2f2;
$white:                       #FFFFFF;
$text-link:                   #3A95E9;
$transparent:               #00000000;

$theme-colors: (
  "primary-light":          $ui-color-primary-light,
  "primary":                $ui-color-primary,
  "extra-primary":          $ui-color-extra-primary,
  "primary-dark-1":         $primary-dark-1,
  "primary-dark-2":         $primary-dark-2,
  "primary-dark-3":         $primary-dark-3,
  "danger":                 $danger,
  "green":                  $green,
  "green-2":                $green-2,
  "black-2":                $black-2,
  "black-3":                $black-3,
  "aco":                    $aco,
  "prata":                  $prata,
  "prata-2":                $prata-2,
  "gray":                   $gray,
  "gray-1":                 $gray-1,
  "gray-2":                 $gray-2,
  "fumaca-light":           $fumaca-light,
  "fumaca":                 $fumaca,
  "fumaca-extra-dark":      $fumaca-extra-dark,
  "neve-extra-dark":        $neve-extra-dark,
  "neve-dark":              $neve-dark,
  "neve":                   $neve,
  "light-1":                $light-1,
  "light-2":                $light-2,
  "white":                  $white,
  "link":                   $text-link,
  "transparent":            $transparent,
) !default;


//Variáveis das fontes
$font-family-sans-serif: 'Work sans', sans-serif;
$font-sizes: (12: 12px, 14: 14px ,16: 16px, 18: 18px, 21: 21px, 24: 24px, 26: 26px, 28: 28px, 32: 32px, 40: 40px, 44: 44px, 64: 64px, 88: 88px, 156: 156px);
$font-families: (open-sans: 'Work sans');

//Variáveis do font-weight
$font-weight-thin:          100;
$font-weight-extra-light:   200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semi-bold:     600;
$font-weight-bold:          700;
$font-weight-extra-bold:    800;
$font-weight-black:         900;

//Variáveis do espaçamento
$spacer: 1rem;
$awe-spacers: (
  'awe-8':    $spacer * 0.5,
  'awe-11':   $spacer * 0.6875,
  'awe-14':   $spacer * 0.875,
  'awe-16':   $spacer * 1,
  'awe-18':   $spacer * 1.125,
  'awe-24':   $spacer * 1.5,
  'awe-32':   $spacer * 2,
  'awe-40':   $spacer * 2.5,  
  'awe-48':   $spacer * 3,
  'awe-64':   $spacer * 4,
  'awe-80':   $spacer * 5,
  'awe-96':   $spacer * 6,
  'awe-104':  $spacer * 6.5,
  'awe-112':  $spacer * 7,
) !default;

//Variáveis do line height
$line-height-140: 140%;
$line-height-160: 160%;
$line-height-180: 180%;

// navbar

$navbar-toggler-font-size:          none;
$navbar-toggler-border-radius:      none;
$navbar-toggler-focus-width:        none;
$navbar-toggler-transition:         none;

// accordion

$accordion-padding-y:                             0;
$accordion-padding-x:                             0;
$accordion-color:                         #1F2D3D;
$accordion-bg:                            #ffffff00;
$accordion-border-width:                          0;
$accordion-border-radius:                       8px;

$accordion-button-padding-y:                   35px;
$accordion-button-padding-x:                   28px;
$accordion-button-color:                  #1F7FAD;
$accordion-button-bg:                     #ffffff;
$accordion-button-active-bg:              #ffffff;
$accordion-button-active-color:           #222222;

$accordion-button-focus-border-color:          none;
$accordion-button-focus-box-shadow:           0px 4px 15px rgba(0, 0, 0, 0.05);;

$accordion-icon-width:                         24px;
$accordion-button-icon:         url("/dist/image/svg/modal-btn.svg");
$accordion-button-active-icon:  url("/dist/image/svg/modal-btn-active.svg");

//Pagination
$pagination-padding-y:              4px;
$pagination-padding-x:              12px;

$pagination-font-size:             18px;

$pagination-color:                  #2471B5;
$pagination-bg:                     #ffffff;
$pagination-border-radius:             4.30px;
$pagination-border-width:                 1px;
$pagination-margin-start:                12px;
$pagination-border-color:           #2471B5;

$pagination-focus-color:            none;
$pagination-focus-bg:               none;
$pagination-focus-box-shadow:       none;
$pagination-focus-outline:          1px solid #2471B5;

$pagination-hover-color:            #ffffff;
$pagination-hover-bg:               #2471B5;
$pagination-hover-border-color:     #2471B5;

$pagination-active-color:           #ffffff;
$pagination-active-bg:              #2471B5;
$pagination-active-border-color:    #2471B5;

// tabs

// $nav-link-padding-y:                12px;
// $nav-link-padding-x:                16px;
// $nav-link-font-size:                14px;
$nav-link-font-weight:              normal;
$nav-link-color:                    #8D9AA6;
$nav-link-hover-color:              #8D9AA6;

$nav-tabs-border-color:             transparent;
$nav-tabs-border-width:             1px;
$nav-tabs-border-radius:            0;
$nav-tabs-link-hover-border-color:  transparent;
$nav-tabs-link-active-color:        #3A95E9;
$nav-tabs-link-active-bg:           #fafafa;
$nav-tabs-link-active-border-color: transparent;