.accordion-header {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.accordion-body {
  background: #eff2f7;
  border-radius: 0px 0px 8px 8px;
  padding: 35px 28px;
  margin: 0 8px;
  color: #1f2d3d;
  font-size: 18px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
