.card-noticia__destaque {
  display: block;
  width: 100%;
  min-height: 442px;
  position: relative;

  &:hover {
    .card-noticia__content {
      text-decoration: underline;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  .card-noticia__content {
    color: #f2f2f2;
    padding: 32px 24px;
    position: absolute;
    z-index: 2;
    bottom: 0;

    p {
      margin: 0;
    }
  }

  .background-filter {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 5.05%,
      #000000 72.13%
    );
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.card__info {
  display: flex;
  min-height: 106px;
  height: 23%;
  align-items: center;
  color: #2481b5;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  background: #ffffff;

  &:first-child {
    border-radius: 0px 5px 0px 0px;
  }

  &:last-child {
    border-radius: 0px 0px 5px 0px;
  }

  &:hover {
    color: #2481b5;
  }
}

.card-ppgem {
  background-color: #3ba8dc;
  border-radius: 5px;
  padding: 32px;
  background-image: url(/dist/image/svg/mask-group-2.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  width: 100%;
}

//cards de videos
.card-video {
  max-width: 383px;
  .player-hover-2 {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(34, 34, 34, 0.84) 0%,
      rgba(34, 34, 34, 0) 100%
    );
  }
  &:hover * {
    .player-hover-1 {
      box-shadow: inset 0px 0px 0px 5px $ui-color-primary-light;
      transition: all 0.3s ease-in-out;
    }
    .player-hover-2 {
      background: radial-gradient(
        50% 50% at 50% 50%,
        #222222 0%,
        rgba(34, 34, 34, 0.57) 100%
      );
    }
  }
}

.card-evento {
  padding: 28px 24px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767.98px) {
  .card-noticia__destaque {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    .card-noticia__content {
      color: #4f4f4f;
      font-weight: bold;
      position: relative;
    }

    .background-filter {
      display: none;
    }
  }

  .card__info {
    font-size: 14px;
    height: auto;
  }
}
