.filter {
  border: 1px solid #2471b5;
  border-radius: 6.26px;
  padding: 4px 17px;
  color: #2471b5;
  text-transform: uppercase;
  display: block;
  position: relative;
  span {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #3c4b58;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Open sans';
    border: 1px solid #2471b5;
    border-radius: 50%;
    background-color: #f9fafc;
    width: 23px;
    height: 23px;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover,
  &.is-checked {
    text-decoration: none;
    color: #ffffff;
    background-color: #2471b5;
  }
}

.filter-2 {
  border: 1px solid $ui-color-primary-light;
  color: $ui-color-primary-light;
  padding: 4px 17px;
  text-decoration: none;
  position: relative;
  span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border: 0.78px solid $ui-color-primary-light;
    border-radius: 50%;
    right: -11.5px;
    top: -11.5px;
  }
  &:hover {
    color: $white;
    background: $ui-color-primary-light;
    border-color: $ui-color-primary-light;
    span {
      border-color: $ui-color-primary-light;
    }
  }
  &:active {
    color: $white;
    background: $ui-color-primary-light;
    border-color: $ui-color-primary-light;
    span {
      border-color: $ui-color-primary-light;
    }
  }
  &.active {
    background: $ui-color-primary-light;
    color: $white;
  }
}
