header {
  background-color: #f2f2f2;

  .background {
    display: none;
  }
}


  header {
    background: #070708;
    color: #f2f2f2;

    a {
      color: #f2f2f2;
      text-decoration: none;
      &:hover {
        color: #FF9445 !important;
        text-decoration: none;
      }
    }

    a.nav-link {
      color: #f2f2f2;
    }
  }

  .navbar__container {
    position: relative;
    height: 104px;
    .background {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      right: 0;
    }
  }


@media (min-width: 992px) {
  header {
    height: 104px;
  }
}

.navbar-toggler-icon{
  color: #f2f2f2;
}


