.post-content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  p {
    margin: 0;
    font-size: 21px;
    line-height: 180%;
    font-family: 'Open sans';
    font-weight: 400;
    color: #1f2d3d;
  }

  a {
    color: #2471b5;
  }

  blockquote {
    margin: 0;
    background: #f6f8fb;
    color: #3c4b58;
    border-left: 5px solid #2471b5;
    padding: 25px;
    font-weight: bold;
    font-size: 26px;
    font-family: 'Open sans';
  }

  figure {
    img {
      width: 100%;
    }

    figcaption {
      font-size: 16px;
      color: #77828C;
      margin-top: 15px;
    }
  }
}

//post relacionado รก noticia
.post-relacionado {
  position: relative;
  &::before {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: linear-gradient(90deg, #665c5c 0%, rgba(102, 92, 92, 0) 65.59%);
    position: absolute;
    top: 0%;
  }
  &:hover {
    opacity: 80%;
  }
}

@media (max-width: 575.98px) {
  .post-content {
    p {
      font-size: 16px;
    }

    figure figcaption {
      font-size: 14px;
    }

    blockquote {
      padding: 16px;
      font-size: 18px;
      border-width: 3px;
    }
  }
} 