{% extends 'base.html' %}
{% block modais %}
<div class="col-md-6">
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel">
                        Cadastrar aula</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="POST" action="{{ url_for('aula.cadastrar_aula') }}" id="cadastrar-aula">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Aula:</label>
                                    <div class="modal-input">
                                        <input type="text" name="nome-aula" class="form-control text-prata-2 fz-16 pe-awe-32" id="recipient-name" placeholder="Lorem Ipsum..">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Professor:</label>
                                    <div class="modal-input">
                                        <select name="professor-matricula" class="form-select form-select-sm text-prata-2" aria-label=".form-select-sm example">
                                            <option selected class="text-prata-2">Nome Sobrenome</option>
                                            {% for professor in professores %}
                                                <option value="{{ professor.matricula }}">{{ professor.nome }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16">Data:</label>
                                    <div class="modal-input">
                                        <input type="date" name="data" class="form-control text-prata-2 fz-16 pe-awe-11" id="recipient-name" placeholder="00/00/0000">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ps-awe-24">
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Experimento:</label>
                                    <div class="modal-input">
                                        <select class="form-select form-select-sm text-prata-2 aulas" aria-label=".form-select-sm example">
                                            <option selected class="text-prata-2">Experimento</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Turma:</label>
                                    <div class="modal-input">
                                        <select name="turma-cod" class="form-select form-select-sm text-prata-2 aulas" aria-label=".form-select-sm example">
                                            <option selected class="text-prata-2">0.0000.0M</option>
                                            {% for turma in turmas %}
                                                <option value="{{ turma.cod }}">{{ turma.cod }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" form="cadastrar-aula" class="btn btn-primary-light">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel2">
                        Visualizar aula</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Aula:</label>
                                    <div class=" d-flex justify-content-between modal-input">
                                        <span class="fz-16 text-gray-1">Lorem Ipsum</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Professor:</label>
                                    <div class=" d-flex justify-content-between modal-input">
                                        <span class="fz-16 text-gray-1">Nome Sobrenome</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16">Data:</label>
                                    <div class=" d-flex justify-content-between modal-input">
                                        <span class="fz-16 text-gray-1">00/00/0000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ps-awe-24">
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Experimento:</label>
                                    <div class=" d-flex justify-content-between modal-input">
                                        <span class="fz-16 text-gray-1">Experimento</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Turma:</label>
                                    <div class=" d-flex justify-content-between modal-input">
                                        <span class="fz-16 text-gray-1">0.0000.0M</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary-light">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel3">
                        Editar aula</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Aula:</label>
                                    <div class="modal-input">
                                        <input type="text" class="form-control text-prata-2 fz-16 pe-awe-32" id="recipient-name" placeholder="Lorem Ipsum..">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Professor:</label>
                                    <div class="modal-input">
                                        <select class="form-select form-select-sm text-prata-2" aria-label=".form-select-sm example">
                                            <option selected class="text-prata-2">Nome Sobrenome</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16">Data:</label>
                                    <div class="modal-input">
                                        <input type="text" class="form-control text-prata-2 fz-16 pe-awe-11" id="recipient-name" placeholder="00/00/0000">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ps-awe-24">
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Experimento:</label>
                                    <div class="modal-input">
                                        <select class="form-select form-select-sm text-prata-2 aulas" aria-label=".form-select-sm example">
                                            <option selected class="text-prata-2">Experimento</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Turma:</label>
                                    <div class="modal-input">
                                        <select class="form-select form-select-sm text-prata-2 aulas" aria-label=".form-select-sm example">
                                            <option selected class="text-prata-2">0.0000.0M</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary-light">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel">
                        Efetivar aula</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="d-flex justify-content">
                            <div class="row">
                                <div class="mb-3 me-awe-24 d-flex">
                                    <div class="col-md-12">
                                        <div class="">
                                            <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                >Quantos alunos faltaram?</label>
                                            <div class="d-flex justify-content-between massa">
                                                <input type="text" class="massa form-control text-prata-2 fz-16 text-center"
                                                    id="recipient-name" placeholder="00">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary-light">Salvar</button>
                </div>
            </div>
        </div>
    </div>
  
</div>
{% endblock %}

      {% block tabela %}
      
      <div id="overlay" class="overlay"></div>
      <div class="layout">
        <div class="container ps-awe-80">
            <div class="row">
                <div class="pt-awe-40 col-md-12">
                    <h1 class="pb-awe-40 fz-40 fw-semi-bold">Aulas</h1>
    
                    <div class="d-flex justify-content-between pb-awe-24">
    
                        <div class="col-12 justify-content-end d-flex">
                            <button type="button"
                            class="btn btn-white border-primary-dark-3 text-primary-dark-3 fz-16 me-awe-24"
                            data-bs-toggle="modal" data-bs-target="#">
                            Experimentos
                        </button>
                            <button type="button" class="btn btn-primary-light fz-16" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1">
                                Cadastrar aula
                            </button>
                        </div>
                    </div>
                </div> <!-- Modal -->
            </div>

    
    
    
            <!-- Button trigger modal -->
    
    
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="blueTable">
                            <thead>
                                <tr>
                                    <th>Aula</th>
                                    <th>Turma</th>
                                    <th>Data</th>
                                    <th>Possível</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>0.0000.0M</td>
                                  <td>00/00/0000</td>
                                  <td class="fw-semi-bold text-green">Sim</td>
                                  <td>Realizada</td>
                                  <td class="icons d-flex justify-content-center">
                                    <div>
                                      <i class='bx bx-check text-primary-light fz-24 pe-awe-8' data-bs-toggle="modal" data-bs-target="#exampleModal4"></i>
                                    </div>
                                    <div>
                                      <i class='bx bx-search text-primary-light fz-16 pe-awe-8' data-bs-toggle="modal" data-bs-target="#exampleModal2"></i>
                                    </div>
                                    <div>
                                      <i class='bx bxs-edit-alt text-primary-light fz-16 pe-awe-8' data-bs-toggle="modal" data-bs-target="#exampleModal3"></i>></i>
                                    </div>
                                    <div>
                                      <i class='bx bxs-trash-alt text-primary-light fz-16'></i>
                                    </div>
                                  </td>
                                </tr>
                                
                              </tbody>
                              
                        </table>
    
                    </div>
                </div>
    
                <nav aria-label="..." class="pt-awe-80">
                    <ul class="pagination">
                        <li class="page-item">
                            <span class="page-link">
                                <</span>
                        </li>
                        <li class="page-item" aria-current="page">
                            <span class="page-link">0</span>
                        </li>
                        <li class="page-item rounded-circle">
                            <a class="page-link" href="#">></a>
                        </li>
                    </ul>
                </nav>
    
            </div>
    
        </div>
          <footer class="footer">
          </footer>
        </main>
        <div class="overlay"></div>
      </div>
      {% endblock %}


  <script src='https://unpkg.com/@popperjs/core@2'></script><script  src="./script.js"></script>

