<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Cadastro - Silab</title>

  <!-- fonte -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- css -->
  <link rel="stylesheet" href="../dist/css/style.css" />
</head>

<body class="login">
  <nav class="navbar navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../dist/image/logo.svg" alt="" width="100" height="auto">
      </a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-4 offset-md-1">
        <div class="panels-container">
          <div class="panel left-panel">
            <div class="content align-items-center pt-awe-80">
              <h1 class="fz-64 fw-semi-bold twxt-dark-2">Bem vindo!</h1>
              <p class="fz-24 pb-awe-24">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper faucibus. 
              </p>
              <img src="../dist/image/bg-login.svg" class="image" alt="" />
            </div>

          </div>
        </div>
      </div>
      <div class="col-5 offset-md-2 align-items-center d-flex">
        <div class="forms-container">
          <form>

            <h3 class="fw-semi-bold fz-40 text-dark-2 pb-awe-24 pt-awe-40">Cadastro</h3>
            <!-- Email input -->
            <div class="input-field border border-2 mb-4">
              <i class='bx bxs-user fz-24'></i>
              <input type="text" placeholder="Nome" />
            </div>

            <div class="input-field border border-2 mb-4">
              <i class='bx bxs-id-card fz-24'></i>
              <input type="text" placeholder="Matrícula" />
            </div>

            <div class="input-field border border-2 mb-4">
              <i class='bx bxs-envelope fz-24'></i>
              <input type="text" placeholder="Email escolar" />
            </div>

            <div class="input-field border border-2 mb-4">
              <i class='bx bxs-user fz-24'></i>
              <input type="text" placeholder="Confirme email" />
            </div>
          
            <!-- Password input -->
            <div class="input-field border border-2 mb-4" id="password">
              <i class='bx bxs-lock-alt bi bi-eye-slash' id="togglePassword"></i>
              <input type="password" placeholder="Senha" />
            </div>

            <div class="input-field border border-2 mb-4" id="password">
              <i class='bx bxs-lock-alt bi bi-eye-slash' id="togglePassword"></i>
              <input type="password" placeholder="Confirme senha" />
            </div>

            <div class="d-flex justify-content-center pb-awe-24">
            <div class="form-check pe-awe-40">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Tutor
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Professor
              </label>
            </div></div>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary-light ps-awe-80 pe-awe-80 pb-awe-12 pt-awe-12">Cadastrar</button>
            </div>

              <div class="d-flex justify-content-center">
                <div class=""><span class="fz-16 text-gray-1">Já possui uma conta? <a href="#login.html" class="fw-medium">Entre!</a></span></div></div>
          </form>
        </div>
      </div>


    </div>
  </div>
  <script src="../assets/js/main.js"></script>
</body>

</html>