{% extends 'base.html' %}
{% block modais %}
    <div class="col-md-6">
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fz-16 fw-semi-bold text-primary-dark-3" id="exampleModalLabel">
                            Adicionar equipamento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('equipamento.cadastrar_equipamento') }}" id="cadastrar-equipamento">
                            <div class="d-flex justify-content">
                                <div class="row">
                                    <div class="mb-3 me-awe-24 d-flex">
                                        <div class="col-md-6">
                                            <div>
                                                <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Equipamento:</label>
                                                <div class=" d-flex justify-content-between modal-input">
                                                    <select class="form-select form-select-sm"
                                                        aria-label=".form-select-sm example" name="tipo-equipamento">
                                                        <option selected>Equipamento</option>
                                                        <option value="Agitador">Agitador</option>
                                                        <option value="Balão">Balão</option>
                                                        <option value="Béquer">Béquer</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="pt-awe-24">
                                                <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                    >Tombo:</label>
                                                <div class="d-flex justify-content-between">
                                                    <input type="text" name="tombo" class="form-control me-awe-24"
                                                        id="recipient-name" placeholder="001">
                                                </div>
                                            </div>
                                            <div class="pt-awe-24">
                                                <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                    >Local:</label>
                                                <div class="d-flex justify-content-between">
                                                    <input type="text" name="local" class="form-control me-awe-24"
                                                        id="recipient-name" placeholder="XXX">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ms-awe-24">
                                            <div class="d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="col-md-12">
                                                            <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                            >Descrição:</label>
                                                            <div class="form-floating">
                                                                <textarea class="form-control" name="descricao" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                                                <label for="floatingTextarea2">Lorem...</label>
                                                              </div>
                                                        </div>
                                                    </div>
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" form="cadastrar-equipamento" class="btn btn-primary-light">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        {% for equipamento in equipamentos %}
        <div class="modal fade" id="exampleModal4{{ equipamento.tombo }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel">Editar
                            equipamento - {{ equipamento.tombo }}
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('equipamento.editar_equipamento') }}" id="editar-equipamento{{ equipamento.tombo }}">
                            <input type="hidden" name="tombo-original" value="{{ equipamento.tombo }}">
                            <div class="d-flex justify-content">
                                <div class="row">
                                    <div class="mb-3 me-awe-24 d-flex">
                                        <div class="col-md-6">
                                            <div>
                                                <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Equipamento:</label>
                                                <div class=" d-flex justify-content-between modal-input">
                                                    <select class="form-select form-select-sm"
                                                        aria-label=".form-select-sm example" name="tipo-equipamento">
                                                        <option selected>Equipamento</option>
                                                        <option value="Agitador">Agitador</option>
                                                        <option value="Balão">Balão</option>
                                                        <option value="Béquer">Béquer</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="pt-awe-24">
                                                <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                    >Local:</label>
                                                <div class="d-flex justify-content-between">
                                                    <input type="text" class="form-control me-awe-24"
                                                        id="recipient-name" placeholder="XXX" name="local" value="{{ equipamento.local }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ms-awe-24">
                                            <div class="d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="col-md-12">
                                                            <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                            >Descrição:</label>
                                                            <div class="form-floating">
                                                                <textarea class="form-control" name="descricao" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">{{ equipamento.descricao }}</textarea>
                                                                <label for="floatingTextarea2">Lorem...</label>
                                                              </div>
                                                        </div>
                                                    </div>
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" form="editar-equipamento{{ equipamento.tombo }}" class="btn btn-primary-light">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
      
        {% for equipamento in equipamentos %}
        <div class="modal fade" id="exampleModal3{{ equipamento.tombo }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel3">Visualizar equipamento - (tombo)
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="d-flex justify-content">
                                <div class="row">
                                    <div class="mb-3 me-awe-24 d-flex">
                                        <div class="col-md-3">
                                            <div>
                                                <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Equipamento:</label>
                                                <div
                                                class=" d-flex justify-content-between">
                                                <span class="fz-16">{{ equipamento.tipo_equipamento }}</span>
                                            </div>
                                            </div>
                                            <div class="pt-awe-24">
                                                <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                    >Local:</label>
                                                    <div
                                                    class=" d-flex justify-content-between">
                                                    <span class="fz-16">{{ equipamento.local }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9 ms-awe-24">
                                            <div class="d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="col-md-12">
                                                            <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                            >Descrição:</label>
                                                            <div class="text-descricao">
                                                                <span>{{ equipamento.descricao }}</span>
                                                              </div>
                                                        </div>
                                                    </div>
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary-light">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
    <!-- partial:index.partial.html -->
    
        
        {% block tabela %}
        <div id="overlay" class="overlay"></div>
        <div class="layout">
            <main class="content">
                <div class="container ps-awe-80">
                    <div class="row">
                        <div class="pt-awe-40 col-md-10">
                            <h1 class="pb-awe-40 fz-40 fw-semi-bold">Equipamentos</h1>

                            <div class="d-flex justify-content-between pb-awe-24">
                                <div class="col-md-3">
                                    <select class="form-select form-select" aria-label=".form-select-sm example">
                                        <option selected>Equipamento</option>
                                        <option value="1">Agitador</option>
                                        <option value="2">Balão</option>
                                        <option value="3">Béquer</option>
                                    </select>
                                </div>

                                <div class="col-6 justify-content-end d-flex">
                                    <button type="button" class="btn btn-primary-light fz-16" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1">
                                        Adicionar equipamento
                                    </button>
                                </div>
                            </div>
                        </div> <!-- Modal -->
                    </div>

                  
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <table class="blueTable">
                                    <thead>
                                        <tr>
                                            <th>Tombo</th>
                                            <th class="d-flex justify-content-start ps-awe-132">Descrição</th>
                                            <div class="d-flex">
                                                <th class="">
                                                    <span>Local</span>
                                                    <i class='fw-bold bx bx-filter fz-18'></i>
                                            </div>
                                            </th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for equipamento in equipamentos %}
                                        <tr>
                                            <td>{{ equipamento.tombo }}</td>
                                            <td>{{ equipamento.descricao }}</td>
                                            <td>{{ equipamento.local }}</td>
                                            <td class="icons">
                                                <i class='bx bx-search text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal3{{ equipamento.tombo }}"></i>
                                                <i class='bx bxs-edit-alt text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal4{{ equipamento.tombo }}"></i>
                                                <i class='bx bxs-trash-alt text-primary-light'></i>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between pt-awe-80">
                                    <nav aria-label="..." class="">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <span class="page-link">
                                                    <</span>
                                            </li>
                                            <li class="page-item" aria-current="page">
                                                <span class="page-link">0</span>
                                            </li>
                                            <li class="page-item rounded-circle">
                                                <a class="page-link" href="#">></a>
                                            </li>
                                        </ul>
                                    </nav> 
                                    <span class="fz-16 text-gray-1">000 equipamentos disponíveis</span>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <footer class="footer">
                </footer>
            </main>
            <div class="overlay"></div>
        </div>
    
{% endblock %}