<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Experimentos - SiLab</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
    <link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../dist/css/style.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>

<body>
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand pb-awe-14 ps-awe-40 pt-awe-14" href="#">
                <img src="/dist/image/logo.svg" alt="" width="100" height="auto" class="">
            </a>
        </div>
        </div>
    </nav>
    <div class="col-md-6">
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fz-16 fw-semi-bold text-primary-dark-3" id="exampleModalLabel">
                            Adicionar experimento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="d-flex justify-content">
                                <div class="row">
                                    <div class="mb-3 me-awe-24 d-flex">
                                        <div class="col-md-6">
                                            <div>
                                                <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Equipamento:</label>
                                                <div class=" d-flex justify-content-between modal-input">
                                                    <select class="form-select form-select-sm"
                                                        aria-label=".form-select-sm example">
                                                        <option selected>Equipamento</option>
                                                        <option value="1">Agitador</option>
                                                        <option value="2">Balão</option>
                                                        <option value="3">Béquer</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="pt-awe-24">
                                                <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                    >Quantidade:</label>
                                                <div class="d-flex justify-content-between">
                                                    <input type="text" class="form-control me-awe-24"
                                                        id="recipient-name" placeholder="001">
                                                </div>
                                            </div>
                                            <div class="pt-awe-24">
                                                <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                    >Local:</label>
                                                <div class="d-flex justify-content-between">
                                                    <input type="text" class="form-control me-awe-24"
                                                        id="recipient-name" placeholder="XXX">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ms-awe-24">
                                            <div class="d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="col-md-12">
                                                            <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                            >Descrição:</label>
                                                            <div class="form-floating">
                                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                                                <label for="floatingTextarea2">Lorem...</label>
                                                              </div>
                                                        </div>
                                                    </div>
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary-light">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel">Editar
                            equipamento - 000
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="d-flex justify-content">
                                <div class="row">
                                    <div class="mb-3 me-awe-24 d-flex">
                                        <div class="col-md-6">
                                            <div>
                                                <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Equipamento:</label>
                                                <div class=" d-flex justify-content-between modal-input">
                                                    <select class="form-select form-select-sm"
                                                        aria-label=".form-select-sm example">
                                                        <option selected>Equipamento</option>
                                                        <option value="1">Agitador</option>
                                                        <option value="2">Balão</option>
                                                        <option value="3">Béquer</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="pt-awe-24">
                                                <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                    >Local:</label>
                                                <div class="d-flex justify-content-between">
                                                    <input type="text" class="form-control me-awe-24"
                                                        id="recipient-name" placeholder="XXX">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ms-awe-24">
                                            <div class="d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="col-md-12">
                                                            <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                            >Descrição:</label>
                                                            <div class="form-floating">
                                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor, sem vitae maximus dignissim, ex augue volutpat ligula, feugiat ornare mi magna ac lacus. Lore</textarea>
                                                                <label for="floatingTextarea2">Lorem...</label>
                                                              </div>
                                                        </div>
                                                    </div>
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary-light">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel3">Visualizar equipamento - (tombo)
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="d-flex justify-content">
                                <div class="row">
                                    <div class="mb-3 me-awe-24 d-flex">
                                        <div class="col-md-3">
                                            <div>
                                                <label for="recipient-name" class="col-form-label fw-semi-bold text-black-4 fz-16">Equipamento:</label>
                                                <div
                                                class=" d-flex justify-content-between">
                                                <span class="fz-16">Equipamento</span>
                                            </div>
                                            </div>
                                            <div class="pt-awe-24">
                                                <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                    >Local:</label>
                                                    <div
                                                    class=" d-flex justify-content-between">
                                                    <span class="fz-16">XXX</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9 ms-awe-24">
                                            <div class="d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="col-md-12">
                                                            <label for="message-text" class="col-form-label fw-semi-bold text-black-4 fz-16"
                                                            >Descrição:</label>
                                                            <div class="text-descricao">
                                                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor, sem vitae maximus dignissim, ex augue volutpat ligula, feugiat ornare mi magna ac lacus. Lore</span>
                                                              </div>
                                                        </div>
                                                    </div>
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary-light">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- partial:index.partial.html -->
    <div class="layout has-sidebar fixed-sidebar fixed-header">
        <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
            <div class="image-wrapper">
                <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" />
            </div>
            <div class="sidebar-layout">
                <div class="sidebar-header d-flex align-items-center justify-content-center flex-wrap mb-awe-40">
                    <div class="profile justify-content-center">
                        <img src="/dist/image/profile.svg " class="rounded mx-auto d-block pt-awe-14" alt="">
                        <p class="d-block fw-semi-bold fz-16 text-primary-light-2 text-center pt-awe-24">Nome Sobrenome
                        </p>
                        <p class="d-block fz-16 text-aco text-center">Tutor/Professor </p>
                        <div class="d-flex justify-content-center">
                            <i class='bx bxs-cog text-aco text-center fz-24'></i>
                        </div>
                    </div>
                </div>
                <div class="sidebar-content mt-awe-24">
                    <nav class="menu open-current-submenu">
                        <ul class="nav text-center pt-awe-32">
                            <li>
                                <a href="#">
                                    <i class='bx bxs-category fz-24 text-aco'></i>
                                    <span class="list text-decoration-none ps-awe-12">Painel</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-box fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Equipamentos</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-vial fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Reagentes</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-bong fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Soluções</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-notepad fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Fórmulas</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-bong fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Aulas</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class='bx bxs-group fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Turmas</span>
                                </a>
                            </li>

                            <li class="mt-awe-32">
                                <a href="#">
                                    <i class='bx bx-log-out fz-18 text-aco'></i>
                                    <span class="list text-decoration">Sair</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="sidebar-footer">
                    <div class="footer-box">
                    </div>
                </div>
            </div>
        </aside>

        <div id="overlay" class="overlay"></div>
        <div class="layout">
            <main class="content">
                <div class="container ps-awe-80">
                    <div class="row">
                        <div class="pt-awe-40 col-md-12">
                            <h1 class="pb-awe-40 fz-40 fw-semi-bold">Experimentos</h1>

                            <div class="d-flex justify-content-between pb-awe-24">

                                <div class="col-7 justify-content-end d-flex">
                                    <button type="button" class="btn btn-primary-light fz-16" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1">
                                        Adicionar experimento
                                    </button>
                                </div>
                            </div>
                        </div> <!-- Modal -->
                    </div>





                    <!-- Button trigger modal -->


                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <table class="blueTable">
                                    <thead>
                                        <tr>
                                            <div class="d-flex">
                                                <th class="">
                                                    <span>Nome</span>
                                                    <i class='bx bx-sort-alt-2 fz-18'></i>
                                            </div>
                                            <div class="d-flex">
                                                <th class="">
                                                    <span>Professor</span>
                                                    <i class='bx bx-sort-alt-2 fz-18'></i>
                                                    <i class='fw-bold bx bx-filter fz-18'></i>
                                            </div>
                                            </th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</td>
                                            <td>Lorem ipsum</td>
                                            <td class="icons">
                                                <i class='bx bx-search text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal3"></i>
                                                <i class='bx bxs-edit-alt text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal4"></i>
                                                <i class='bx bxs-trash-alt text-primary-light'></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</td>
                                            <td>Lorem ipsum</td>
                                            <td class="icons">
                                                <i class='bx bx-search text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal3"></i>
                                                <i class='bx bxs-edit-alt text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal4"></i>
                                                <i class='bx bxs-trash-alt text-primary-light'></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</td>
                                            <td>Lorem ipsum</td>
                                            <td class="icons">
                                                <i class='bx bx-search text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal3"></i>
                                                <i class='bx bxs-edit-alt text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal4"></i>
                                                <i class='bx bxs-trash-alt text-primary-light'></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</td>
                                            <td>Lorem ipsum</td>
                                            <td class="icons">
                                                <i class='bx bx-search text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal3"></i>
                                                <i class='bx bxs-edit-alt text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal4"></i>
                                                <i class='bx bxs-trash-alt text-primary-light'></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</td>
                                            <td>Lorem ipsum</td>
                                            <td class="icons">
                                                <i class='bx bx-search text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal3"></i>
                                                <i class='bx bxs-edit-alt text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal4"></i>
                                                <i class='bx bxs-trash-alt text-primary-light'></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</td>
                                            <td>Lorem ipsum</td>
                                            <td class="icons">
                                                <i class='bx bx-search text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal3"></i>
                                                <i class='bx bxs-edit-alt text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal4"></i>
                                                <i class='bx bxs-trash-alt text-primary-light'></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</td>
                                            <td>Lorem ipsum</td>
                                            <td class="icons">
                                                <i class='bx bx-search text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal3"></i>
                                                <i class='bx bxs-edit-alt text-primary-light' data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal4"></i>
                                                <i class='bx bxs-trash-alt text-primary-light'></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between pt-awe-80">
                                    <nav aria-label="..." class="">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <span class="page-link">
                                                    <</span>
                                            </li>
                                            <li class="page-item" aria-current="page">
                                                <span class="page-link">0</span>
                                            </li>
                                            <li class="page-item rounded-circle">
                                                <a class="page-link" href="#">></a>
                                            </li>
                                        </ul>
                                    </nav> 
                                    <span class="fz-16 text-gray-1">00 experimentos cadastrados</span>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <footer class="footer">
                </footer>
            </main>
            <div class="overlay"></div>
        </div>
    </div>
    <!-- partial -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>