<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Login - Silab</title>

  <!-- fonte -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- css -->
  <link rel="stylesheet" href="../dist/css/style.css" />
</head>

<body class="login">
  <nav class="navbar navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/dist/image/logo.svg" alt="" width="100" height="auto">
      </a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-4 offset-md-1">
        <div class="panels-container">
          <div class="panel left-panel">
            <div class="content align-items-center pt-awe-80">
              <h1 class="fz-64 fw-semi-bold twxt-dark-2">Bem vindo!</h1>
              <p class="fz-24 pb-awe-24">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper faucibus. 
              </p>
              <img src="/dist/image/bg-login.svg" class="image" alt="" />
            </div>

          </div>
        </div>
      </div>
      <div class="col-4 offset-md-3 align-items-center d-flex">
        <div class="forms-container">
          <form>

            <h3 class="fw-semi-bold fz-40 text-dark-2 pb-awe-24">Login</h3>
            <div class="input-field border border-2 mb-4">
              <i class='bx bxs-user fz-24'></i>
              <input type="text" placeholder="Matricula" />
            </div>
            <div class="input-field border border-2 mb-4" id="password">
              <i class='bx bxs-lock-alt bi bi-eye-slash fz-24' id="togglePassword"></i>
              <input type="password" placeholder="Senha" />
            </div>
            <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary-light ps-awe-48 pe-awe-48 pb-awe-12 pt-awe-12 acess">Acessar</button></div>
          </form>
        </div>
      </div>


    </div>
  </div>
  <script src="/assets/js/main.js"></script>
</body>

</html>