<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SiLab - SideBar</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
<link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
<link rel="stylesheet" href="{{ url('static', filename='./style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='../dist/css/style.css') }}" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
  <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
          <a class="navbar-brand pb-awe-14 ps-awe-40 pt-awe-14" href="#">
            <img src="{{ url_for('static', filename='/dist/image/logo.svg') }}" alt="" width="100" height="auto" class="">
          </a>
    </div>
    </div>
</nav>
<!-- partial:index.partial.html -->
<div class="layout has-sidebar fixed-sidebar fixed-header">
      <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
        <div class="image-wrapper">
          <img src="{{ url_for('static', filename='assets/images/sidebar-bg.jpg') }}" alt="sidebar background" />
        </div>
        <div class="sidebar-layout">
          <div class="sidebar-header d-flex align-items-center justify-content-center flex-wrap mb-awe-40">
            <div class="profile justify-content-center">
              <img src="{{ url_for('static', filename='/dist/image/profile.svg') }}" class="rounded mx-auto d-block pt-awe-14" alt="">
              <p class="d-block fw-semi-bold fz-16 text-primary-light-2 text-center pt-awe-24">Nome Sobrenome</p>
              <p class="d-block fz-16 text-aco text-center">Tutor/Professor </p>
              <div class="d-flex justify-content-center">
                  <i class='bx bxs-cog text-aco text-center fz-24'></i>
              </div>
          </div>
          </div>
          <div class="sidebar-content mt-awe-24">
            <nav class="menu open-current-submenu">
              <ul class="nav text-center pt-awe-32">
                <li>
                    <a href="#">
                        <i class='bx bxs-category fz-24 text-aco'></i>
                        <span class="list text-decoration-none ps-awe-12">Painel</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-box fz-24 text-aco'></i>
                        <span class="list text-decoration-none">Equipamentos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-vial fz-24 text-aco'></i>
                        <span class="list text-decoration-none">Reagentes</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-bong fz-24 text-aco'></i>
                        <span class="list text-decoration-none">Soluções</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-notepad fz-24 text-aco'></i>
                        <span class="list text-decoration-none">Fórmulas</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-bong fz-24 text-aco'></i>
                        <span class="list text-decoration-none">Aulas</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bxs-group fz-24 text-aco'></i>
                        <span class="list text-decoration-none">Turmas</span>
                    </a>
                </li>

                <li class="mt-awe-32">
                    <a href="#">
                        <i class='bx bx-log-out fz-18 text-aco'></i>
                        <span class="list text-decoration">Sair</span>
                    </a>
                </li>
            </ul>
            </nav>
          </div>
          <div class="sidebar-footer">
            <div class="footer-box">
            </div>
          </div>
        </div>
      </aside>
          
                <nav aria-label="..." class="pt-awe-80">
                    <ul class="pagination">
                        <li class="page-item">
                            <span class="page-link">
                                <</span>
                        </li>
                        <li class="page-item" aria-current="page">
                            <span class="page-link">0</span>
                        </li>
                        <li class="page-item rounded-circle">
                            <a class="page-link" href="#">></a>
                        </li>
                    </ul>
                </nav>
          
            </div>
          
          </div>
          <footer class="footer">
          </footer>
        </main>
        <div class="overlay"></div>
      </div>
    </div>
<!-- partial -->


  <script src='https://unpkg.com/@popperjs/core@2'></script><script  src="{{ url_for('static', filename='./script.js') }}"></script>

</body>
</html>