<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Turmas - SiLab</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
    <link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
    <link rel="stylesheet" href="{{ url_for('static', filename='/dist/css/style.css') }}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>

<body>
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand pb-awe-14 ps-awe-40 pt-awe-14" href="#">
                <img src="{{ url_for('static', filename='/dist/image/logo.svg') }}" alt="" width="100" height="auto" class="">
            </a>
        </div>
        </div>
    </nav>

    <div class="col-md-6">
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel">
                            Adicionar turma</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('turma.cadastrar_turma') }}" id="cadastrar-turma">
                            <div class="d-flex justify-content">
                                <div class="row">
                                    <div class="mb-3 me-awe-24 d-flex">
                                        <div class="col-md-3">
                                            <div class="">
                                                <label for="recipient-name"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Curso:</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="curso"
                                                        id="flexRadioDefault1">
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault1">
                                                        Comércio
                                                    </label>
                                                </div>
                                                <div class="form-check pt-awe-12">
                                                    <input class="form-check-input" type="radio" name="curso"
                                                        id="flexRadioDefault2" checked>
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault2">
                                                        Eletrônica
                                                    </label>
                                                </div>
                                                <div class="form-check pt-awe-12">
                                                    <input class="form-check-input" type="radio" name="curso"
                                                        id="flexRadioDefault2" checked>
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault2">
                                                        Infoweb
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ms-awe-48">
                                            <div class="d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="">
                                                            <label for="message-text"
                                                                class="col-form-label fw-semi-bold text-black-4 fz-16">Turma:</label>
                                                            <div class="d-flex justify-content-between">
                                                                <input type="text" name="codigo"
                                                                    class="form-control form-control-sm me-awe-24 text-prata-2 fz-16"
                                                                    id="recipient-name" placeholder="0.0000.0X" required>
                                                            </div>
                                                        </div>

                                                        <div class="pt-awe-24">
                                                            <label for="message-text"
                                                                class="col-form-label fw-semi-bold text-black-4 fz-16">Turno:</label>
                                                            <div class="d-flex justify-content-between">
                                                                <input type="text" name="turno"
                                                                    class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                                    id="recipient-name" placeholder="Turno" required>
            
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offset-1 col-md-4">
                                            <div class="">
                                                <label for="message-text"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Ano:</label>
                                                <div class="d-flex justify-content-between massa">
                                                    <input type="number" name="ano"
                                                        class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                        id="recipient-name" placeholder="0" required>

                                                </div>
                                            </div>

                                            <div class="pt-awe-24">
                                                <label for="message-text"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Alunos:</label>
                                                <div class="d-flex justify-content-between massa">
                                                    <input type="number" name="qtd-alunos"
                                                        class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                        id="recipient-name" placeholder="00">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary-light" form="cadastrar-turma">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        {% for turma in turmas %}
        <div class="modal fade" id="exampleModal{{ turma.cod }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel">
                            Editar turma</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('turma.editar_turma') }}" id="editar-turma{{ turma.cod }}">
                            <input type="hidden" value="{{ turma.cod }}">
                            <div class="d-flex justify-content">
                                <div class="row">
                                    <div class="mb-3 me-awe-24 d-flex">
                                        <div class="col-md-3">
                                            <div class="">
                                                <label for="recipient-name"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Curso:</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault1">
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault1">
                                                        Comércio
                                                    </label>
                                                </div>
                                                <div class="form-check pt-awe-12">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault2" checked>
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault2">
                                                        Eletrônica
                                                    </label>
                                                </div>
                                                <div class="form-check pt-awe-12">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault2" checked>
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault2">
                                                        Infoweb
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ms-awe-48">
                                            <div class="d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="">
                                                            <label for="message-text"
                                                                class="col-form-label fw-semi-bold text-black-4 fz-16">Turma:</label>
                                                            <div class="d-flex justify-content-between">
                                                                <input type="text" name="codigo" value="{{ turma.cod }}"
                                                                    class="form-control form-control-sm me-awe-24 text-prata-2 fz-16"
                                                                    id="recipient-name" placeholder="0.0000.0X">
                                                            </div>
                                                        </div>

                                                        <div class="pt-awe-24">
                                                            <label for="message-text"
                                                                class="col-form-label fw-semi-bold text-black-4 fz-16">Turno:</label>
                                                            <div class="d-flex justify-content-between">
                                                                <input type="text" name="turno" value="{{ turma.turno }}"
                                                                    class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                                    id="recipient-name" placeholder="Turno">
            
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offset-1 col-md-4">
                                            <div class="">
                                                <label for="message-text"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Ano:</label>
                                                <div class="d-flex justify-content-between massa">
                                                    <input type="number" value="{{ turma.ano }}"
                                                        class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                        id="recipient-name" placeholder="0">

                                                </div>
                                            </div>

                                            <div class="pt-awe-24">
                                                <label for="message-text"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Alunos:</label>
                                                <div class="d-flex justify-content-between massa">
                                                    <input type="text" name="qtd-alunos" value="{{ turma.qtd_alunos }}"
                                                        class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                        id="recipient-name" placeholder="00">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" form="editar-turma{{ turma.cod }}" class="btn btn-primary-light">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
    <!-- partial:index.partial.html -->
    <div class="layout has-sidebar fixed-sidebar fixed-header">
        <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
            <div class="image-wrapper">
                <img src="{{ url_for('static', filename='assets/images/sidebar-bg.jpg') }}" alt="sidebar background" />
            </div>
            <div class="sidebar-layout">
                <div class="sidebar-header d-flex align-items-center justify-content-center flex-wrap mb-awe-40">
                    <div class="profile justify-content-center">
                        <img src="{{ url_for('static', filename='/dist/image/profile.svg') }}" class="rounded mx-auto d-block pt-awe-14" alt="">
                        <p class="d-block fw-semi-bold fz-16 text-primary-light-2 text-center pt-awe-24">Nome Sobrenome
                        </p>
                        <p class="d-block fz-16 text-aco text-center">Tutor/Professor </p>
                        <div class="d-flex justify-content-center">
                            <i class='bx bxs-cog text-aco text-center fz-24'></i>
                        </div>
                    </div>
                </div>
                <div class="sidebar-content mt-awe-24">
                    <nav class="menu open-current-submenu">
                        <ul class="nav text-center pt-awe-32">
                            <li>
                                <a href="#">
                                    <i class='bx bxs-category fz-24 text-aco'></i>
                                    <span class="list text-decoration-none ps-awe-12">Painel</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-box fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Equipamentos</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-vial fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Reagentes</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-bong fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Soluções</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-notepad fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Fórmulas</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-bong fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Aulas</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class='bx bxs-group fz-24 text-aco'></i>
                                    <span class="list text-decoration-none">Turmas</span>
                                </a>
                            </li>

                            <li class="mt-awe-32">
                                <a href="#">
                                    <i class='bx bx-log-out fz-18 text-aco'></i>
                                    <span class="list text-decoration">Sair</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="sidebar-footer">
                    <div class="footer-box">
                    </div>
                </div>
            </div>
        </aside>

        <div id="overlay" class="overlay"></div>
        <div class="layout">
            <main class="content">
                <div class="container ps-awe-80">
                    <div class="row">
                        <div class="pt-awe-40 col-md-11 justify-content-end">
                            <h1 class="pb-awe-40 fz-40 fw-semi-bold">Turmas</h1>
                            <div class="d-flex justify-content-between pb-awe-24">
                                <div class="col-11 justify-content-end d-flex">
                                    <button type="button" class="btn btn-primary-light fz-16" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1">
                                        Adicionar turma
                                    </button>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-11">
                                        <table class="blueTable">
                                            <thead>
                                                <tr>
                                                    <div class="d-flex">
                                                        <th class="">
                                                            <span>Turma</span>
                                                            <i class='bx bx-sort-alt-2 fz-18'></i>
                                                            <i class='fw-bold bx bx-filter fz-18'></i>
                                                    </div>
                                                    <div class="d-flex">
                                                        <th class="">
                                                            <span>Curso</span>
                                                            <i class='bx bx-sort-alt-2 fz-18'></i>
                                                            <i class='fw-bold bx bx-filter fz-18'></i>
                                                    </div>
                                                    <div class="d-flex">
                                                        <th class="">
                                                            <span>Turno</span>
                                                            <i class='bx bx-sort-alt-2 fz-18'></i>
                                                            <i class='fw-bold bx bx-filter fz-18'></i>           
                                                    </div>
                                                    <div class="d-flex">
                                                        <th class="">
                                                            <span>Ano</span>
                                                            <i class='bx bx-sort-alt-2 fz-18'></i>
                                                            <i class='fw-bold bx bx-filter fz-18'></i>
                                                            
                                                    </div>
                                                    <div class="d-flex">
                                                        <th class="">
                                                            <span>Alunos</span>
                                                            <i class='bx bx-sort-alt-2 fz-18'></i>
                                                    </div>
                                                    <th>Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for turma in turmas %}
                                                <tr>
                                                    <td>{{ turma.cod }}</td>
                                                    <td>{{ turma.curso }}</td>
                                                    <td>{{ turma.turno }}</td>
                                                    <td>{{ turma.ano }}</td>
                                                    <td>{{ turma.qtd_alunos }}</td>
                                                    <td class="icons">
                                                        <i class='bx bxs-edit-alt text-primary-light'
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal{{ turma.cod }}"></i>
                                                        <i class='bx bxs-trash-alt text-primary-light'></i>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-11">
                                    <div class="d-flex justify-content-between pt-awe-80">
                                        <nav aria-label="..." class="">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <span class="page-link">
                                                        < </span>
                                                </li>
                                                <li class="page-item" aria-current="page">
                                                    <span class="page-link">0</span>
                                                </li>
                                                <li class="page-item rounded-circle">
                                                    <a class="page-link" href="#">></a>
                                                </li>
                                            </ul>
                                        </nav> 
                                        <span class="fz-16 text-gray-1">00 turmas cadastradas</span>
                                    </div></div>
                                </div>
                            </div>
                            <footer class="footer">
                            </footer>
            </main>
            <div class="overlay"></div>
        </div>
    </div>
    <!-- partial -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>