{% extends 'base.html' %}
{% block modais %}
    <div class="col-md-6">
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel">
                            Adicionar turma</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('turma.cadastrar_turma') }}" id="cadastrar-turma">
                            <div class="d-flex justify-content">
                                <div class="row">
                                    <div class="mb-3 me-awe-24 d-flex">
                                        <div class="col-md-3">
                                            <div class="">
                                                <label for="recipient-name"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Curso:</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="curso"
                                                        id="flexRadioDefault1">
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault1">
                                                        Comércio
                                                    </label>
                                                </div>
                                                <div class="form-check pt-awe-12">
                                                    <input class="form-check-input" type="radio" name="curso"
                                                        id="flexRadioDefault2" checked>
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault2">
                                                        Eletrônica
                                                    </label>
                                                </div>
                                                <div class="form-check pt-awe-12">
                                                    <input class="form-check-input" type="radio" name="curso"
                                                        id="flexRadioDefault2" checked>
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault2">
                                                        Infoweb
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ms-awe-48">
                                            <div class="d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="">
                                                            <label for="message-text"
                                                                class="col-form-label fw-semi-bold text-black-4 fz-16">Turma:</label>
                                                            <div class="d-flex justify-content-between">
                                                                <input type="text" name="codigo"
                                                                    class="form-control form-control-sm me-awe-24 text-prata-2 fz-16"
                                                                    id="recipient-name" placeholder="0.0000.0X" required>
                                                            </div>
                                                        </div>

                                                        <div class="pt-awe-24">
                                                            <label for="message-text"
                                                                class="col-form-label fw-semi-bold text-black-4 fz-16">Turno:</label>
                                                            <div class="d-flex justify-content-between">
                                                                <input type="text" name="turno"
                                                                    class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                                    id="recipient-name" placeholder="Turno" required>
            
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offset-1 col-md-4">
                                            <div class="">
                                                <label for="message-text"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Ano:</label>
                                                <div class="d-flex justify-content-between massa">
                                                    <input type="number" name="ano"
                                                        class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                        id="recipient-name" placeholder="0" required>

                                                </div>
                                            </div>

                                            <div class="pt-awe-24">
                                                <label for="message-text"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Alunos:</label>
                                                <div class="d-flex justify-content-between massa">
                                                    <input type="number" name="qtd-alunos"
                                                        class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                        id="recipient-name" placeholder="00">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary-light" form="cadastrar-turma">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        {% for turma in turmas %}
        <div class="modal fade" id="exampleModal{{ turma.cod }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fz-18 fw-semi-bold text-primary-dark-3" id="exampleModalLabel">
                            Editar turma</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('turma.editar_turma') }}" id="editar-turma{{ turma.cod }}">
                            <input type="hidden" value="{{ turma.cod }}">
                            <div class="d-flex justify-content">
                                <div class="row">
                                    <div class="mb-3 me-awe-24 d-flex">
                                        <div class="col-md-3">
                                            <div class="">
                                                <label for="recipient-name"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Curso:</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault1">
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault1">
                                                        Comércio
                                                    </label>
                                                </div>
                                                <div class="form-check pt-awe-12">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault2" checked>
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault2">
                                                        Eletrônica
                                                    </label>
                                                </div>
                                                <div class="form-check pt-awe-12">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault2" checked>
                                                    <label class="form-check-label text-prata-2"
                                                        for="flexRadioDefault2">
                                                        Infoweb
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ms-awe-48">
                                            <div class="d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="">
                                                            <label for="message-text"
                                                                class="col-form-label fw-semi-bold text-black-4 fz-16">Turma:</label>
                                                            <div class="d-flex justify-content-between">
                                                                <input type="text" name="codigo" value="{{ turma.cod }}"
                                                                    class="form-control form-control-sm me-awe-24 text-prata-2 fz-16"
                                                                    id="recipient-name" placeholder="0.0000.0X">
                                                            </div>
                                                        </div>

                                                        <div class="pt-awe-24">
                                                            <label for="message-text"
                                                                class="col-form-label fw-semi-bold text-black-4 fz-16">Turno:</label>
                                                            <div class="d-flex justify-content-between">
                                                                <input type="text" name="turno" value="{{ turma.turno }}"
                                                                    class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                                    id="recipient-name" placeholder="Turno">
            
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offset-1 col-md-4">
                                            <div class="">
                                                <label for="message-text"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Ano:</label>
                                                <div class="d-flex justify-content-between massa">
                                                    <input type="number" value="{{ turma.ano }}"
                                                        class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                        id="recipient-name" placeholder="0">

                                                </div>
                                            </div>

                                            <div class="pt-awe-24">
                                                <label for="message-text"
                                                    class="col-form-label fw-semi-bold text-black-4 fz-16">Alunos:</label>
                                                <div class="d-flex justify-content-between massa">
                                                    <input type="text" name="qtd-alunos" value="{{ turma.qtd_alunos }}"
                                                        class="form-control me-awe-24 text-prata-2 fz-16 pe-awe-11"
                                                        id="recipient-name" placeholder="00">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary fw-medium border-primary-dark-3 text-primary-dark-3"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" form="editar-turma{{ turma.cod }}" class="btn btn-primary-light">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    <!-- partial:index.partial.html -->
        
    {% block tabela %}
    <div id="overlay" class="overlay"></div>
    <div class="layout">
        <main class="content">
            <div class="container ps-awe-80">
                <div class="row">
                    <div class="pt-awe-40 col-md-11 justify-content-end">
                        <h1 class="pb-awe-40 fz-40 fw-semi-bold">Turmas</h1>
                        <div class="d-flex justify-content-between pb-awe-24">
                            <div class="col-11 justify-content-end d-flex">
                                <button type="button" class="btn btn-primary-light fz-16" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1">
                                    Adicionar turma
                                </button>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-11">
                                    <table class="blueTable">
                                        <thead>
                                            <tr>
                                                <div class="d-flex">
                                                    <th class="">
                                                        <span>Turma</span>
                                                        <i class='bx bx-sort-alt-2 fz-18'></i>
                                                        <i class='fw-bold bx bx-filter fz-18'></i>
                                                </div>
                                                <div class="d-flex">
                                                    <th class="">
                                                        <span>Curso</span>
                                                        <i class='bx bx-sort-alt-2 fz-18'></i>
                                                        <i class='fw-bold bx bx-filter fz-18'></i>
                                                </div>
                                                <div class="d-flex">
                                                    <th class="">
                                                        <span>Turno</span>
                                                        <i class='bx bx-sort-alt-2 fz-18'></i>
                                                        <i class='fw-bold bx bx-filter fz-18'></i>           
                                                </div>
                                                <div class="d-flex">
                                                    <th class="">
                                                        <span>Ano</span>
                                                        <i class='bx bx-sort-alt-2 fz-18'></i>
                                                        <i class='fw-bold bx bx-filter fz-18'></i>
                                                        
                                                </div>
                                                <div class="d-flex">
                                                    <th class="">
                                                        <span>Alunos</span>
                                                        <i class='bx bx-sort-alt-2 fz-18'></i>
                                                </div>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for turma in turmas %}
                                            <tr>
                                                <td>{{ turma.cod }}</td>
                                                <td>{{ turma.curso }}</td>
                                                <td>{{ turma.turno }}</td>
                                                <td>{{ turma.ano }}</td>
                                                <td>{{ turma.qtd_alunos }}</td>
                                                <td class="icons">
                                                    <i class='bx bxs-edit-alt text-primary-light'
                                                        data-bs-toggle="modal" data-bs-target="#exampleModal{{ turma.cod }}"></i>
                                                    <i class='bx bxs-trash-alt text-primary-light'></i>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-11">
                                <div class="d-flex justify-content-between pt-awe-80">
                                    <nav aria-label="..." class="">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <span class="page-link">
                                                    < </span>
                                            </li>
                                            <li class="page-item" aria-current="page">
                                                <span class="page-link">0</span>
                                            </li>
                                            <li class="page-item rounded-circle">
                                                <a class="page-link" href="#">></a>
                                            </li>
                                        </ul>
                                    </nav> 
                                    <span class="fz-16 text-gray-1">00 turmas cadastradas</span>
                                </div></div>
                            </div>
                        </div>
                        <footer class="footer">
                        </footer>
                    </div>
                </div>
            </div>  
        </main>
        <div class="overlay"></div>
    </div>
    {% endblock %}
