{% extends "nav-bar.html" %}
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Turmas - Silab</title>

    <!-- fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.css') }}" />
    {% endblock %}

{% block body %}
<body id="">
{% endblock %}

    {% block content %}

    <div class="container ps-awe-80">
        <div class="row">
            <div class="pt-awe-40 col-md-12">
                <h1 class="pb-awe-40 fz-40 fw-semi-bold">Turmas</h1>

                <div class="d-flex justify-content-end pb-awe-24">
                    <button type="button" class="btn btn-primary-light fz-16" data-bs-toggle="modal"
                        data-bs-target="#exampleModal1">
                        Cadastrar turma
                    </button>
                </div>
            </div> <!-- Modal -->
        </div>

            <div class="col-md-6">
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fz-18 fw-semi-bold text-primary-light" id="exampleModalLabel">Cadastrar turma</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{{ url_for('turma.cadastrar_turma') }}" id="cadastrar-turma">
                                    <div class="d-flex justify-content-between">
                                        <div class="mb-3 me-awe-40">
                                            <label for="recipient-name" class="col-form-label">Turma:</label>
                                            <input type="text" class="form-control" id="recipient-name" name="codigo">
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="col-form-label">Ano:</label>
                                            <input type="text" class="form-control" id="recipient-name" name="ano">
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <div class="mb-3 me-awe-40">
                                            <label for="recipient-name" class="col-form-label">Curso:</label>
                                            <select class="form-select form-select-md"
                                                aria-label=".form-select-md example" name="curso">
                                                
                                                <option value="Eletrônica">Eletrônica</option>
                                                <option value="Informática para internet" selected>Informática para internet</option>
                                                <option value="Comércio">Comércio</option>
                                            </select>
                                                    
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="col-form-label">Alunos:</label>
                                            <input type="text" class="form-control" id="recipient-name" name="qtd-alunos">
                                        </div>


                                    </div>

                                    <div class="mb-3">
                                        <div>
                                            <label for="recipient-name"
                                                class="col-form-label">Turno:</label>
                                            <div
                                                class=" d-flex justify-content-between">
                                                <select
                                                    class="form-select form-select-md"
                                                    aria-label=".form-select-md example" name="turno">
                                                    <option value="Matutino" selected>Matutino</option>
                                                    <option value="Vespertino">Vespertino</option>
                                                    <option value="Noturno">Noturno</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary-light" form="cadastrar-turma">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->


    <div class="container ps-awe-80">
        <div class="row">
            <div class="col-md-12">
                <table class="blueTable">
                    <thead>
                        <tr>
                            <th>Turma</th>
                            <th>Curso</th>
                            <th>Turno</th>
                            <th>Ano</th>
                            <th>Alunos</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for turma in turmas %}
                        <tr>
                            <td>{{ turma.cod }}</td>
                            <td>{{ turma.curso }}</td>
                            <td>{{ turma.turno }}</td>
                            <td>{{ turma.ano }}</td>
                            <td>{{ turma.qtd_alunos }}</td>
                            <td class="icons">
                                <i class='bx bxs-edit-alt text-primary-light' data-bs-toggle="modal" data-bs-target="#exampleModal{{ turma.cod.replace('.', '') }}" style="cursor:pointer;"></i>
                                <div class="modal fade" id="exampleModal{{ turma.cod.replace('.', '') }}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fz-18 fw-semi-bold text-primary-light" id="exampleModalLabel">Editar Turma
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <form method="POST" action="{{ url_for('turma.editar_turma') }}" id="{{ turma.cod.replace('.', '') }}">
                                                    <input type="hidden" name="id-turma" value="{{ turma.cod }}">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="mb-3 me-awe-40">
                                                            <label for="recipient-name"
                                                                class="col-form-label">Turma:</label>
                                                            <input type="text" class="form-control" id="recipient-name" value="{{ turma.cod }}" name="codigo">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="message-text"
                                                                class="col-form-label">Ano:</label>
                                                            <input type="text" class="form-control" id="recipient-name" value="{{ turma.ano }}" name="ano">
                                                        </div>
                                                    </div>

                                                    <div class="d-flex justify-content-between">
                                                        <div class="mb-3 me-awe-40">
                                                            <label for="recipient-name"
                                                                class="col-form-label">Curso:</label>
                                                                <select class="form-select form-select-md"
                                                                aria-label=".form-select-md example" name="curso">
                                                                
                                                                <option value="Eletrônica">Eletrônica</option>
                                                                <option value="Informática para internet" selected>Informática para internet</option>
                                                                <option value="Comércio">Comércio</option>
                                                            </select>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="message-text"
                                                                class="col-form-label">Alunos:</label>
                                                            <input type="text" class="form-control" id="recipient-name" value="{{ turma.qtd_alunos }}" name="qtd-alunos">
                                                        </div>


                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="message-text" class="col-form-label" aria-placeholder="Turno">Turno:</label>
                                                        <select class="form-select form-select-md" aria-label=".form-select-md example" name="turno">
                                                            <option value="Matutino" selected>Matutino</option>
                                                            <option value="Vespertino">Vespertino</option>
                                                            <option value="Noturno">Noturno</option>
                            
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary-light" form="{{ turma.cod.replace('.', '') }}">Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <i class='bx bxs-trash-alt text-primary-light' style="cursor:pointer;"></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <!--===== MAIN JS =====-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

{% endblock %}
